<a href="https://colab.research.google.com/github/ponnurubadharisai/my_captain_python/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Methods

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits[1])

fruits[0] = "kiwi"

fruits.append("orange")

fruits.insert(1,"lemon")

fruits.remove("banana")

print(fruits[-1])

print(fruits[2:5])

print(len(fruits))

print(fruits)

banana
orange
['cherry', 'orange']
4
['kiwi', 'lemon', 'cherry', 'orange']

# Tuple Methods

In [ ]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(fruits[0])

print(len(fruits))

print(fruits[-1])

print(fruits[2:5])

apple
7
mango
('cherry', 'orange', 'kiwi')

# Sets Methods

In [ ]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

fruits.add("orange")

more_fruits = ["mango", "grapes"]
fruits.update(more_fruits)

fruits.remove("banana")

fruits.discard("mango")

print(fruits)

Yes, apple is a fruit!
{'grapes', 'cherry', 'apple', 'orange'}

# Dictionary Methods

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get("model"))


car["year"] = 2020

car["color"]="RED"

car.pop("model")

print(car)

car.clear()

print(car)

Mustang
{'brand': 'Ford', 'year': 2020, 'color': 'RED'}
{}

# String Methods

In [ ]:
x = "Hello World"

print(len(x))

a = x[0]
print(a)

a = x[2:5]
print(a)

txt = " Hello World"
a = txt.strip()
print(a)

a = x.upper()
print(a)

a = x.lower()
print(a)

a = x.replace("H","J")
print(a)

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

11
H
llo
Hello World
HELLO WORLD
hello world
Jello World
My name is John, and I am 36

# If condition

In [ ]:
a = 50
b = 10
c = 20
d = 20

if a >b:
  print("Hello World")

if a != b:
  print("Hello World")

if a == b:
  print("Yes")
else:
  print("No")


if a == b:
  print("1")
elif a > b:
  print("2")
else:
  print("3")

if a == b and c == d:
  print("Hello") 

if a == b or c == d:
  print("Hello or")

if 5 > 2:
  print("Five is greater than two!")

if 5 > 2:
  print("Five is greater than two!")

if 5 > 7:
  print("Yes")
else:
  print("No")

Hello World
Hello World
No
2
Hello or
Five is greater than two!
Five is greater than two!
No

# Loops

## For Loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
print("\n\n")

for x in fruits:
  if x == "banana":
    continue
  print(x)
print("\n\n")

for x in range(6):
  print(x)
print("\n\n")

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple
banana
cherry



apple
cherry



0
1
2
3
4
5



apple

## While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
print("\n\n")

i=0
while i < 6:
  if i == 3:
    break
  print(i)
  i += 1
print("\n\n")

i=0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)
print("\n\n")

i=0
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5



0
1
2



1
2
4
5
6



0
1
2
3
4
5
i is no longer less than 6

# Calculator

In [7]:
print("Select operation.\n 1)ADD\n 2)Subtract\n 3)Multiply\n 4)Divide\n")
choise=int(input("Enter your choise ="))
if(choise == 1):
  a=float(input("Enter first values ="))
  b=float(input("Enter first values ="))
  print("SUM = ",a+b )
elif(choise == 2):
  a=float(input("Enter first values ="))
  b=float(input("Enter first values ="))
  print("Differnce = ",a-b)
elif(choise == 3):
  a=float(input("Enter first values ="))
  b=float(input("Enter first values ="))
  print("Product = ",a*b)
elif(choise == 4 ):
  a=float(input("Enter first values ="))
  b=float(input("Enter first values ="))
  print("quoficent = ",a/b)
else:
  print("!!  Invaild  !! Please enter corrent option")

Select operation.
 1)ADD
 2)Subtract
 3)Multiply
 4)Divide

Enter your choise =3
Enter first values =5
Enter first values =6
Product =  30.0